body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input{
	&[type="text"],&[type="password"]{
		color: #555;
	}
	
}

a {
  color: #00B7FF;
}


.tbl-list{
  width: 100%;
}


.row__container {
	max-width: 500px;
	margin: 0 auto;
}

.page__container {
	max-width: 960px;
	margin: 0 auto;
}