<div class="page__container">
<h4>Pokemons</h4>

{{#if pokemons}}
<table class="tbl-list stripe" >
  <thead>
    <tr>
        <th  align="left"></th>
        <th align="left">CP</th>
        <th align="left">IV</th>
    </tr>
  </thead>
  {{#each pokemons}}
    <tr>

    <td>
      {{this.info.name}}</td>
    <td>{{this.cp}}</td>
    <td>{{this.iv_pct}}%</td>
    </tr>
  {{/each}}
</table>

</div>



  <script>
      $(document).ready(function(){
        $('.tbl-list').DataTable();
    });

    $(document).ready(function() {
    $('select').material_select();
  });
  </script>
{{/if}}







